  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Policromatic arts is an art gallery focusing on arts with many bright colors

            <br>

            The unique style is what makes all the difference in this work.
            <br>
            The artist is called "Sollyson Rodrigues", born in Brazil and currently lives in São Paulo</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Artist</h6>
          <ul class="footer-links">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Deviant Art</a></li>
            <li><a href="#">Behance</a></li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>

      <hr>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
       <a href="#">Policromatic Arts</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="deviantart" href="https://www.deviantart.com/ikle1st" target="_blank" ><i class="fa fa-deviantart"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/sollyson-rodrigues/" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
            <li><a class="github" href="https://github.com/Solly42" target="_blank"><i class="fab fa-github"></i></a></li>

          </ul>
        </div>
      </div>
    </div>
</footer>

