<body class="container-fluid background">

  <div class="row d-flex">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form>
        <div class="form-row mt-5">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Username</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Pick a username">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">E-mail</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Add your E-mail">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Confirm E-mail</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Confirm your E-mail">
        </div>

        <div class="form-group">
          <label for="inputAddress">Password</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Choose your password">
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>


        <button type="button" class="btn btn-outline-light w-25">Send</button>
      </form>
    </div>
  </div>

</body>
